.preview-subjects{
    max-width: 500px;
    width: 100%;
}

.inputSection {
    padding: 30px 20px;
    width: 100%;
    height: 420px;
    border: 1px solid rgb(218, 217, 217);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #fff;
}

.tb-subject{
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}



.left-description{
    padding: 100px 100px 0px 70px;
    display: flow-root;
    width: 100%;
    max-width: 600px;
    
}

.left-description > h1 {
    font-size: 60px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    
    
}



.left-description > p {
    font-size: 15px;
    text-align: center;
    margin-top: 20px;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

  
.add-subject{
    margin-top: 20px;
    background-color:transparent;
    border-color: #fff;
    font-size: large;
    border-radius: 4px;
    width: 30%;
    margin-left: 35%;
    color: #fff;
    padding: 10px;  
    
    
}

.back{
  
    height: 600px;
    padding: 60px;
    background: linear-gradient(to bottom, rgb(0, 89, 255) 0%,#d97b93 100%);
    
    
}


 .button-go{
    background-color: rgb(0, 89, 255);
    height: 15%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 100%;
    font-size: 20px;
    text-align: center;
    color: #fff;
    padding: 20px 0px;
}

.button-go:hover{
    background-color: rgb(47, 120, 255);
    transition: 0.2s linear;
}

.no-subjects{
  color: rgba(180, 180, 180, 0.466);
  text-align: center;
  margin-top: 20%;
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.register{
    padding-left: 28px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;

}
.list-subjects{
    padding: 1px 20px;
    height: 75%;
    overflow-y: auto;
}

.tb-subject {
  padding: 0px 20px;
}



.division{
   
       display: flex;
       justify-content: center;
    

}

.det{
  margin-left: 180px;
  font-size: 20px;
  
}

table {
    width: 100%; 
    margin-top: 20px;
    border: 2 solid rgb(0, 89, 255);
    border-radius: 6px;
}



th {
  
  padding: 12px 10px;
  text-align: left;

}

tr:nth-child(even){background-color: #f2f2f2;}
td {
    
    padding: 8px;
  }
.show-subjects{
    display: flex;
    align-items: center;
}


.inputDescription {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#666;
    font-size: 15px;
    margin-top: 5px;
}
.boxInput {
    background: #fff;
    display: flex;
    border-radius: 7px;
    height: 46px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 50px;
    border: 2px solid #5a5a5a79;
    padding: 20px 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    color: #666;
    outline: none;
}

.boxInput:focus{
    border-color: rgb(0, 89, 255);
    font-size: 16px;
    transition: all 0.2s linear;
}

.range{
    
    -webkit-appearance: initial;
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background: #d7dcdf;
    outline: none;
    padding: 0;
    margin-bottom: 15px;
    margin-top: -10px;
    cursor: pointer;
}

.popup-span{
  justify-content: center;
  justify-items: center;
  font-size: 20px;
  

}

.box-minmax{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    font-size: 20px;
    
}
.box-minmax > span:first-child{
    margin-left: 10px;
  }

.grade{

    background: linear-gradient(90deg, #ff0000 25%, rgba(255, 0, 0, 0) 25%), linear-gradient(90deg, #ffc608 50%, rgba(255, 128, 0, 0) 50%), linear-gradient(90deg, rgb(0, 89, 255) 75%, #04db04 75%);
    
}


.range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 0.5px solid rgb(170, 168, 168);
    background: #ffffff;
    cursor: pointer;
    
  }

  .range::-webkit-slider-thumb :hover{
    background: tomato;
  }

.label {
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    
}

.boxInput2 {
    color: black;
}
.subjectInput{
   
    display: flex;
    flex: 100%;
    margin-top: 5px;
    height: 34px;
    
    

    
}

.subjectName{
    
    border-color: transparent;
    -webkit-tap-highlight-color: transparent;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 250px;

}

.credit{
   
    margin-left: 40px;
    outline: none;
    
    
}



.centerDiv {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    
}

.outputSection {
    padding: 9px 19px 4px 19px;
    height: 1000px;
    border-radius: 6px;
   
  
}

.popup-del-subject{
   position: relative;
   margin-top: 300px;
   height: 150px;
   width: 400px;
   background-color: #fff;
   border-radius: 8px;
   
}

.popup-show-grade{

    position: relative;
    margin-top: 110px;
    height: 75%;
    width: 50%;
    background-color: #fff;
    border-radius: 8px;
    padding: 15px 30px;
}

.grade-title{
    margin-left: 20px;
    
}

.bar-chart {
   margin-top: 15px;
   width: 80%;
   margin-left: 10%;
   display: flex;
   justify-content: center;
}

.exit {
    font-size: 5px;
    border: none;
    font-size: 2vw;
    margin-left: 50%;
}

.close {
    position: absolute;
    right: -10px;
    top: -10px;
    width: 32px;
    height: 32px;
    border: 1px solid red;
    border-radius: 50%;
    background-color: red;
   
  }
  .close:hover {
    opacity: 1;
  }
  .close:before, .close:after {
    position: absolute;
    left: 15px;
    top: 1px;
    content: ' ';
    height: 28px;
    width: 1.5px;
    background-color: white;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }
  

.block {
    display: flex;
    justify-content: center;
    
  }

.grade-item{

text-align: center;
padding: 20px;
width: 30%;
height: 40%;
margin-inline: 10px;
box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
-webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
border-radius: 10px;
overflow: hidden;
text-decoration: none;
color: rgba(102, 102, 102, 0.568);
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-size: 13px;
font-size: 1vw;

}

.grade-item > span {
    font-size: 30px;
    font-size: 2vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;

}



.popup-del-subject > p{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin-top: 20px;
 }

.del-btns{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    
}

.delete{
    background-color: transparent;
    color: black;
    border: 1px solid black;
    margin-inline: 10px;
}
.rs-label {
    
    position: relative;
    transform-origin: center center;
    display: block;
    width: 98px;
    height: 98px;
    background: transparent;
    border-radius: 50%;
    line-height: 30px;
    text-align: center;
    font-weight: bold;
    padding-top: 22px;
    box-sizing: border-box;
    border: 2px solid #fff;
    margin-top: 20px;
    margin-left: -38px;
    left: attr(value);
    color: #fff;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 36px;
   
    
}

.grade-header{
    display: flex;
    margin-top: 20px;
}

.rs-label ::after {
    content: "kg";
    display: block;
    font-size: 20px;
    letter-spacing: 0.07em;
    margin-top: -2px;
}






