video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}

.hero-container {
   
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.2);
    object-fit: contain;
    position: relative;

}

.hero-container > h1 {
    color: #fff;
    font-size: 100px;
    margin-top: -100px;

}

.hero-container > p {
    color: #fff;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hero-container > h3 {
    margin-top: 20px;
    color: #fff;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 30px;
    text-align: center;
}

.hero-btns {  
  
    min-width: 86px;
    border-radius: 7px;
    height: 45px;
    font-size: 20px;
    background-color: cornflowerblue;
    border: none;
    color: #fff;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
   
}

.hero-btns .btn {
    margin: 0px;
}

@media screen and (max-width: 960px) {
    .hero-container > h1 {
        color: #fff;
        font-size: 70px;
        margin-top: -100px;
    
    }
}

@media screen and (max-width: 768px) {
    .hero-container > h1 {
        color: #fff;
        font-size: 50px;
        margin-top: -100px;
    }

    .hero-container > p {
        font-size: 25px;
    }

    .btn-mobile {
        display: block;
        text-decoration: node;
    }

    .btn {
        width: 100%;
    }
}


@media screen and (max-width: 410px) {
    .hero-container > h1 {
        color: #fff;
        font-size: 35px;
        margin-top: -100px;
        width: 100%;
    }

    .hero-container > p {
        font-size: 15px;
        justify-content: center;
    }

    .btn-mobile {
        display: block;
        text-decoration: none;
    }

    .btn {
        width: 100%;
    }
}

@media screen and (max-width: 360px) {
    .hero-container > h1 {
        color: #fff;
        font-size: 35px;
        margin-top: -100px;
    }

    .hero-container > p {
        font-size: 15px;
        justify-content: center;
    }

    .btn-mobile {
        display: block;
        text-decoration: none;
    }

    .btn {
        width: 100%;
    }
}